.container_title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 3.5em;
    margin: 20px; 

    input{
        width: 100%;
    }
}

.grid_container_email{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 2.5em;
    margin: 20px;

    input{
        width: 100%;
    }
}

@media screen and (max-width: 767px){
    .grid-container{
        display: grid;
        grid-template-columns:auto;
        grid-gap: 1.5em;
        margin: 20px;
    }
}



/*.texto{
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 40px;
}

.item1 { grid-area: Email; }
.item2 { grid-area: Senha; }
.item3 { grid-area: Nome; }

.grid-container {
  display: grid;
  grid-template-areas:
    'Email Email Email Senha Senha Senha'
    ' Nome Nome Nome Nome Nome Nome';
  grid-column-gap: 40px;
  padding: 10px;
}

.grid-container > div {
  
  text-align: left;
  padding: 10px 0;
  font-size: 30px;
}

input{

    height: 40%;
    width: 100%;
}

button{
    background-color:rgb(53, 148, 226);
    margin-left: 10px;
    
}

.mat-button.mat-primary {
    color: #fffb7d;
}

.nome{
    margin-bottom: 0px;
}

.fone{
    margin-bottom: 0px;
}

.mail{
    margin-bottom: 0px;
    
}


*/