
.container_title{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 3.5em;
    margin: 20px; 

    input{
        width: 100%;
    }
}


.box {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-content: flex-end;
    align-items: baseline;
    width: 25%;
    margin-top: 17px;
    
    .check{
        margin-right: 10px;
        width: 20px;
    }
}


@media screen and (max-width: 767px){
    .grid-container{
        display: grid;
        grid-template-columns:auto;
        grid-gap: 1.5em;
        margin: 20px;
    }
}
       

/*.texto{
    text-align: center;
    color: black;
    font-size: 40px;
    margin-top: 40px;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    padding: 10px;
}
  
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    font-size: 30px;
    padding: 10px 0;
}  
 
.item1 {
    input{
        height: 40%;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        }
  }

.item2 {
    input{
        height: 40%;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        }
  }

.item3 {
    input{
        height: 40%;
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
        }
  }


.box {
    height: 127%;
    width: 127%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-end;
    align-items: baseline;
        
    input{


        .adm{
            width: 5;
            
        }
    }

}


button{
    background-color:rgb(53, 148, 226);
    margin-left: 10px;
}

.mat-button.mat-primary {
    color: #fffb7d;
}

.box {
    .box[_ngcontent-uux-c76] {
        width: 5%;
    }
}
*/

    